/* 绿色按钮 */
.button-primary {
    height: 44px;
    line-height: 42px;
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(71,207,115);
    color: #000;
    cursor: pointer;
}
.button-primary:hover {
    background-color: rgb(36,140,70);
    color: #fff;
}
/* 灰色按钮 */
.button {
    height: 44px;
    line-height: 42px;
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(68,72,87);
    color: #fff;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(90,95,115);
}
/* PRO */
.pro {
    width: 35px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(255,221,64);
    color: #000;
}
/*logo标志*/
.logo {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    width: 130px;
    font-size: 22px;
}

.logo img {
    width: 30px;
    height: 30px;
}