.module3 {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  background-color: rgb(24, 25, 30);
  color: #fff;
  z-index: 99;
}

.module3>h3 {
  text-align: center;
  font-size: 22px;
}

.module3>p {
  width: 130px;
  text-align: center;
  margin: 15px auto 0;
  font-size: 14px;
  color: rgb(118, 218, 255);
  cursor: pointer;
}

.module3>p:hover {
  color: #fff;
}

.module3 .m3-cards {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  height: 439px;
  margin: 50px auto;
}

.m3-cards .title-cards {
  position: relative;
  width: 375px;
  height: 439px;
  z-index: 999;
}

.title-cards>img {
  position: absolute;
  top: 115px;
  left: -140px;
  width: 890px;
  height: 665px;
  z-index: 1;
}

.title-cards .title-box {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-bottom: 5px; */
  z-index: 999;
}

.focus-box {
  background-color: rgb(19, 20, 23);
}

.title-box h4 {
  height: 100%;
}

.title-box p {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  color: #ccc;
}

.m3-cards .img-cards {
  position: relative;
  flex: auto;
  max-width: 688px;
  max-height: 439px;
  overflow: hidden;
}

.img-cards img {
  position: absolute;
  top: 439px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 1s;
}

.img-cards .focus-img {
  top: 0;
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .module3 .m3-cards {
    flex-direction: column;
    height: 838px;
    justify-content: start;
    align-items: center;
  }
  .m3-cards .title-cards {
    width: 575px;
    max-width: 768px;
    height: 390px;
  }
  .title-cards .title-box {
    max-width: 768px;
  }
  .m3-cards .img-cards {
    width: 575px;
  }
  .title-cards>img {
    top: 788px;
  }
}