.topnav {
    /* position: fixed; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}
.topnav .my_input {
    position: relative;
    flex: auto;
    margin: 1px 10px 0;
}

.my_input_inner {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    background-color: rgb(37,40,48);
    /* 设置输入框的圆角 */
    border-radius: 5px;
    font-size: inherit;
    padding: 0 30px;
}

.my_input_suffix {
    position: absolute;
    top: 10px;
    left: 8px;
    height: 100%;
}

.topnav input:focus ~.hidden-cards{
    opacity: 1;
}
.topnav .log-in {
    margin: 0 10px;
}
.topnav .hidden-cards {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 430px;
    height: 30px;
    opacity: 0;
    transition: all .3s;
}
.hidden-cards div {
    height: 26px;
    line-height: 25px;
    padding: 0 8px;
    opacity: 0.2;
    transition: all .5s;
    background-color: rgb(90,95,115);
    color: #fff;
    cursor: pointer;
}
.hidden-cards div:hover {
    opacity: 1;
}